<div class="cover">
  <div class="no">
    <ul>
      <li>Flags and bombs can't be moved once the game begins.</li>
      <li>A Miner(3) can defuse a bomb and live to tell the tale.</li>
      <li>An attacking Spy(1) can capture the Marshall(10).</li>
      <li>If attacker is equal to defender, both pieces become demoralized and desert the battlefield...pussies.</li>
      <li>Scout can move as many squares IN A LINE as it chooses to...</li>
      <li>First player to capture the opponents flag wins!</li>
      <li>Soldiers don't have bathing suits...so stay away from the lakes!</li>
      <li>If a player has no moveable pieces, give up and never play again!</li>
      <li>A piece may not move back and forth between the same two squares in three consecutive moves.</li>
    </ul>
  </div>
</div>