<div class="container">
    <img src="../assets/img/cover.png">
    <div class="gridContainer">
      
      <div id="col1">
        <h3>Create:</h3>
        <input type="text" #createName required placeholder="Username" autocomplete="off">
        <button (click)="createGame(createName.value)">Create Game</button>
      </div>
      <div id="col2">
        <h3>Join:</h3>
        <input type="text" #joinName required placeholder="Username" autocomplete="off">
        <input type="text" #gameKey required placeholder="Game Key" autocomplete="off">
        <button (click)="joinGame(joinName.value, gameKey.value)">Join Game</button>
      </div>
    </div>
</div>
