<div class="blueCon">
  <div class="blueFlex">
    <div><img src="../assets/img/b1.jpg">0</div>
    <div><img src="../assets/img/b2.jpg">0</div>
    <div><img src="../assets/img/b3.jpg">0</div>
    <div><img src="../assets/img/b4.jpg">0</div>
    <div><img src="../assets/img/b5.jpg">0</div>
    <div><img src="../assets/img/b6.jpg">0</div>
    <div><img src="../assets/img/b7.jpg">0</div>
    <div><img src="../assets/img/b8.jpg">0</div>
    <div><img src="../assets/img/b9.jpg">0</div>
    <div><img src="../assets/img/b10.jpg">0</div>
    <div><img src="../assets/img/b11.jpg">0</div>
    <div><img src="../assets/img/b12.jpg">0</div>
  </div>
  <p id="blue">
    Blue Graveyard
  </p>
</div>
