
.bFlex{
    position: relative;
    color: white;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    
}
.bCon{
    background-color: rgb(49, 49, 161);
    height: 200px;
    width: 600px;
    color: white;
    text-align: center;
    margin: 0 auto;
    object-fit: center;
    transform: translateY(-40px);
} 

.rFlex{
    position: relative;
    color: white;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}
.rCon{
    background-color: rgb(161, 49, 49);
    height: 200px;
    width: 600px;
    color: white;
    text-align: center;
    margin: 0 auto;
    object-fit: center;
}
img{
    height: 45px;
    transition: transform .2s;
}
img:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.placement{
    margin-top: -16px;
}
#r{
    padding-top: 20px;
}
