<div class="{{color}}Con">
  <div class="{{color}}Flex">
    <div><img src="../assets/img/{{color}}1.jpg">0</div>
    <div><img src="../assets/img/{{color}}2.jpg">0</div>
    <div><img src="../assets/img/{{color}}3.jpg">0</div>
    <div><img src="../assets/img/{{color}}4.jpg">0</div>
    <div><img src="../assets/img/{{color}}5.jpg">0</div>
    <div><img src="../assets/img/{{color}}6.jpg">0</div>
    <div><img src="../assets/img/{{color}}7.jpg">0</div>
    <div><img src="../assets/img/{{color}}8.jpg">0</div>
    <div><img src="../assets/img/{{color}}9.jpg">0</div>
    <div><img src="../assets/img/{{color}}10.jpg">0</div>
    <div><img src="../assets/img/{{color}}11.jpg">0</div>
    <div><img src="../assets/img/{{color}}12.jpg">0</div>
  </div>

  <p id="{{color}}">
    Graveyard
  </p>
</div>
