
<app-graveyard [color]=(localGame.players[0].color) [thisGraveyard]=(localGame.redGraveyard) (onGraveyardPieceClicked)="selectGraveyardPiece($event)"></app-graveyard>
<app-inventory [color]=(localPlayer.color)></app-inventory>
<app-board></app-board>
<app-graveyard [color]=(localGame.players[1].color) [thisGraveyard]=(localGame.blueGraveyard) (onGraveyardPieceClicked)="selectGraveyardPiece($event)"></app-graveyard>


<!-- <h1>Game Goes Here</h1>
<h2>{{localGame.players[0].name}}</h2>
<h3>VS</h3>
<h2>{{localGame.players[1].name}}</h2> -->