<div class="placement">
    <div class="redCon">
        <p id="red">
           Red Graveyard
        </p>
      <div class="redFlex">
        <div><img src="../assets/img/r1.jpg">0</div>
        <div><img src="../assets/img/r2.jpg">0</div>
        <div><img src="../assets/img/r3.jpg">0</div>
        <div><img src="../assets/img/r4.jpg">0</div>
        <div><img src="../assets/img/r5.jpg">0</div>
        <div><img src="../assets/img/r6.jpg">0</div>
        <div><img src="../assets/img/r7.jpg">0</div>
        <div><img src="../assets/img/r8.jpg">0</div>
        <div><img src="../assets/img/r9.jpg">0</div>
        <div><img src="../assets/img/r10.jpg">0</div>
        <div><img src="../assets/img/r11.jpg">0</div>
        <div><img src="../assets/img/r12.jpg">0</div>
      </div>
    </div>
</div>
