.container {
      margin: 0 auto;
      width: 600px;
      height: 600px;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      object-fit: center;
      overflow: inherit;
  }
  
  .grass {
    background-image: url("../../assets/img/grass.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 10;
	  -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .grass:hover{
    opacity: .5;
  }
  [class^="water"]:hover{
    opacity: 1;
  }
  
  .waterTL {
    background-image: url("../../assets/img/lakeTopL.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .waterTR {
    background-image: url("../../assets/img/lakeTopR.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .waterBL {
    background-image: url("../../assets/img/lakeBottomLeft.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .waterBR {
    background-image: url("../../assets/img/lakeBottomRight.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
} 
