
<div class="outer">
  <div class="container">
    <div class="grass" id="00"></div>
    <div class="grass" id="01"></div>
    <div class="grass" id="02"></div>
    <div class="grass" id="03"></div>
    <div class="grass" id="04"></div>
    <div class="grass" id="05"></div>
    <div class="grass" id="06"></div>
    <div class="grass" id="07"></div>
    <div class="grass" id="08"></div>
    <div class="grass" id="09"></div>
    <div class="grass" id="10"></div>
    <div class="grass" id="11"></div>
    <div class="grass" id="12"></div>
    <div class="grass" id="13"></div>
    <div class="grass" id="14"></div>
    <div class="grass" id="15"></div>
    <div class="grass" id="16"></div>
    <div class="grass" id="17"></div>
    <div class="grass" id="18"></div>
    <div class="grass" id="19"></div>
    <div class="grass" id="20"></div>
    <div class="grass" id="21"></div>
    <div class="grass" id="22"></div>
    <div class="grass" id="23"></div>
    <div class="grass" id="24"></div>
    <div class="grass" id="25"></div>
    <div class="grass" id="26"></div>
    <div class="grass" id="27"></div>
    <div class="grass" id="28"></div>
    <div class="grass" id="29"></div>
    <div class="grass" id="30"></div>
    <div class="grass" id="31"></div>
    <div class="grass" id="32"></div>
    <div class="grass" id="33"></div>
    <div class="grass" id="34"></div>
    <div class="grass" id="35"></div>
    <div class="grass" id="36"></div>
    <div class="grass" id="37"></div>
    <div class="grass" id="38"></div>
    <div class="grass" id="39"></div>
    <div class="grass" id="40"></div>
    <div class="grass" id="41"></div>
    <div class="waterTR" id="42"></div>
    <div class="waterTL" id="43"></div>
    <div class="grass" id="44"></div>
    <div class="grass" id="45"></div>
    <div class="waterTR" id="46"></div>
    <div class="waterTL" id="47"></div>
    <div class="grass" id="48"></div>
    <div class="grass" id="49"></div>
    <div class="grass" id="50"></div>
    <div class="grass" id="51"></div>
    <div class="waterBL" id="52"></div>
    <div class="waterBR" id="53"></div>
    <div class="grass" id="54"></div>
    <div class="grass" id="55"></div>
    <div class="waterBL" id="56"></div>
    <div class="waterBR" id="57"></div>
    <div class="grass" id="58"></div>
    <div class="grass" id="59"></div>
    <div class="grass" id="60"></div>
    <div class="grass" id="61"></div>
    <div class="grass" id="62"></div>
    <div class="grass" id="63"></div>
    <div class="grass" id="64"></div>
    <div class="grass" id="65"></div>
    <div class="grass" id="66"></div>
    <div class="grass" id="67"></div>
    <div class="grass" id="68"></div>
    <div class="grass" id="69"></div>
    <div class="grass" id="70"></div>
    <div class="grass" id="71"></div>
    <div class="grass" id="72"></div>
    <div class="grass" id="73"></div>
    <div class="grass" id="74"></div>
    <div class="grass" id="75"></div>
    <div class="grass" id="76"></div>
    <div class="grass" id="77"></div>
    <div class="grass" id="78"></div>
    <div class="grass" id="79"></div>
    <div class="grass" id="80"></div>
    <div class="grass" id="81"></div>
    <div class="grass" id="82"></div>
    <div class="grass" id="83"></div>
    <div class="grass" id="84"></div>
    <div class="grass" id="85"></div>
    <div class="grass" id="86"></div>
    <div class="grass" id="87"></div>
    <div class="grass" id="88"></div>
    <div class="grass" id="89"></div>
    <div class="grass" id="90"></div>
    <div class="grass" id="91"></div>
    <div class="grass" id="92"></div>
    <div class="grass" id="93"></div>
    <div class="grass" id="94"></div>
    <div class="grass" id="95"></div>
    <div class="grass" id="96"></div>
    <div class="grass" id="97"></div>
    <div class="grass" id="98"></div>
    <div class="grass" id="99"></div>
  </div>
</div>