<div class="container">
  <div *ngFor="let each of flatBoard; let i = index;" [ngClass]="{'waterTR': i==42 || i==46, 'waterTL': i == 43 || i == 47, 'waterBR': i == 53 || i == 57, 'waterBL': i == 52 || i == 56, 'grass': i != 42 && i != 46 && i != 43 && i != 47 && i != 53 && i != 57 && i != 52 && i != 56}" id="{{i}}" (click)="squareClicked($event.target.id)"><img (click)="pieceClicked($event.target.parentNode.id)" *ngIf="flatBoard[i] && localPlayer.color == flatBoard[i].color" src="{{flatBoard[i].imageUrl}}" class="boardPiece"/><img (click)="pieceClicked($event.target.parentNode.id)" *ngIf="flatBoard[i] && flatBoard[i] != -1 && localPlayer.color != flatBoard[i].color" src="assets/img/dualCover.jpg" class="boardPiece"/></div>
</div>


<!-- <div class="outer">
  <div class="container">
    <div class="grass" id="00" (click)="squareClicked($event.target.id)"><img/></div>
    <div class="grass" id="01" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="02" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="03" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="04" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="05" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="06" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="07" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="08" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="09" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="10" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="11" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="12" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="13" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="14" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="15" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="16" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="17" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="18" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="19" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="20" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="21" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="22" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="23" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="24" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="25" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="26" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="27" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="28" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="29" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="30" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="31" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="32" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="33" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="34" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="35" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="36" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="37" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="38" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="39" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="40" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="41" (click)="squareClicked($event.target.id)"></div>
    <div class="waterTR" id="42" (click)="squareClicked($event.target.id)"></div>
    <div class="waterTL" id="43" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="44" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="45" (click)="squareClicked($event.target.id)"></div>
    <div class="waterTR" id="46" (click)="squareClicked($event.target.id)"></div>
    <div class="waterTL" id="47" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="48" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="49" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="50" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="51" (click)="squareClicked($event.target.id)"></div>
    <div class="waterBL" id="52" (click)="squareClicked($event.target.id)"></div>
    <div class="waterBR" id="53" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="54" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="55" (click)="squareClicked($event.target.id)"></div>
    <div class="waterBL" id="56" (click)="squareClicked($event.target.id)"></div>
    <div class="waterBR" id="57" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="58" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="59" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="60" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="61" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="62" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="63" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="64" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="65" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="66" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="67" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="68" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="69" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="70" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="71" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="72" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="73" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="74" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="75" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="76" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="77" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="78" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="79" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="80" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="81" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="82" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="83" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="84" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="85" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="86" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="87" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="88" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="89" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="90" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="91" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="92" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="93" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="94" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="95" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="96" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="97" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="98" (click)="squareClicked($event.target.id)"></div>
    <div class="grass" id="99" (click)="squareClicked($event.target.id)"></div>
  </div>
</div> -->